* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.gray {
  color: gray;
}

.link {
  text-decoration-line: underline;
  color: darkblue;
}

.legend {
  text-decoration-line: line-through;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

input,
select {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 0;
}

select {
  cursor: pointer;
}

select:hover {
  background-color: #ccc;
}

select:active {
  background-color: #8b8b8b;
}

input:invalid {
  color: red;
}

button {
  min-height: 35px;
  height: max-content;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #8b8b8b;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  gap: 50px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
    header img {
      height: 2.5em;
      vertical-align: middle;
      margin-right: 40px;
    }

  section {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 20px;
  }

    #canvasContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 5px;
    }

      canvas {
        border: 2px solid #ccc;
        cursor: zoom-in;
      }

    #parametersContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      gap: 20px;
    }

      form {
        width: 100%;
      }

        fieldset {
          border: 2px solid #ccc;
          padding: 10px;
        }

          .fieldRow {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 5px 10px;
            align-items: center;
            gap: 0.5em;
          }

  #signatureContainer {
    display: flex;
    width: 100%;
    justify-content: right;
  }

    #signature {
      color: gray;
    }



#menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

  .modal-content {
    width: 30%;
    padding: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: white;
  }

    .close {
      position: absolute;
      left: calc(100% - 1.2rem);
      top: 0;
      transform: translateX(-50%);
      font-size: 28px;
      font-weight: bold;
      color: #ccc;
    }

    .close:hover {
      color: #8b8b8b;
      text-decoration: none;
      cursor: pointer;

    }
